
footer {
  width: 100%;
  height: 250px;
  padding: 25px 12%;
  display: flex;
  justify-content: space-between;
}
footer .footer__logo {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5%;
}
footer .footer__logo img {
  margin-bottom: 10px;
}
footer .footer__nav {
  height: 200px;
  flex-grow: 3;
}
footer .footer__nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  padding-top: 5%;
}
footer .footer__nav ul li .footer__nav_item {
  color: black;
  font-size: 18px;
}
footer .footer__nav ul li .action {
  color: #ff7013;
}
footer .footer__nav ul .action {
  color: #ff7013;
}
footer .footer__pay {
  height: 200px;
  width: 25%;
  display: flex;
  align-items: center;
}
footer .footer__pay .footer__pay_width {
  width: 70%;
}
footer .footer__pay h3 {
  color: #ff7013;
  font-size: 1.2em;
}
footer .footer__pay .pay_service {
  display: flex;
  justify-content: space-between;
}
footer .footer__pay .pay_service img {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

header {
  width: 100%;
  height: 110px;
  padding: 0 12%;
  position: fixed;
  top: 0;
  background: #fff;
}
header .new__header {
  display: flex;
  flex-direction: column;
}
header .header__all {
  width: 100%;
}
header .header__all .contact__info_min {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px 15px 5px;
  border-bottom: 1px solid #cac6c6;
}
header .header__all .contact__info_min .contact__info_min__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .header__all .contact__info_min .contact__info_min__left p {
  margin: 5px 25px 5px 5px;
  font-size: 1em;
}
header .header__all .contact__info_min .social_icons {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
header .header__all .contact__info_min .social_icons .social_icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}
header .header__all .header__logo-nav {
  display: flex;
  justify-content: space-between;
}
header .header__all .header__logo-nav img {
  width: 120px;
  height: 40px;
}
header .header__all .header__logo-nav nav {
  width: 65%;
}
header .header__all .header__logo-nav ul {
  display: flex;
  justify-content: space-around;
}
header .header__all .header__logo-nav ul li {
  list-style-type: none;
}
header .header__all .header__logo-nav ul li .header_menu_a {
  color: #43525d;
  font-size: 1.5em;
}
header .header__all .header__logo-nav ul li .action {
  color: #ff7013;
}
header .header__all .header__logo-nav .search_basket {
  display: flex;
  justify-content: space-between;
  width: 90px;
}
.new__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new__header h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #43525d;
}

main {
  width: 100%;
  height: auto;
  margin-top: 120px;
  background-color: #f6f8f9;
}
main .full_winter_kit {
  height: 770px;
  display: flex;
  background-image: url(../img/girl_opacity.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: rgba(230, 230, 220, 0.2);
  padding: 0 12%;
}
main .full_winter_kit .full_winter_kit__nav {
  width: 50px;
  height: inherit;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .full_winter_kit .full_winter_kit__nav .full_winter_kit__nav_item {
  width: 15px;
  height: 25px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
main .full_winter_kit .full_winter_kit__nav .full_winter_kit__nav_item:hover {
  cursor: pointer;
}
main .full_winter_kit .full_winter_kit__nav .action {
  background-color: #ff7013;
  height: 40px;
}
main .full_winter_kit .full_winter_kit__info {
  width: 630px;
  height: inherit;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .full_winter_kit .full_winter_kit__info .full_winter_kit__info_block {
  width: 450px;
  height: 200px;
}
main .full_winter_kit .full_winter_kit__info .full_winter_kit__info_block .info h1 {
  color: #ff7013;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 42px;
}
main .full_winter_kit .full_winter_kit__info .full_winter_kit__info_block .info .info__second_title {
  font-weight: bold;
  margin-bottom: 0px;
}
main .full_winter_kit .full_winter_kit__info .full_winter_kit__info_block .full_winter_kit__info_price {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
main .new_arrivals {
  height: 994px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 12%;
}
main .new_arrivals .new_arrivals__carusel_items {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
}
main .new_arrivals .new_arrivals__carusel_items .product_preview_item {
  background-color: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  box-shadow: 0px 0px 11px -5px #43525d;
}
main .new_arrivals .new_arrivals__carusel_items .product_preview_item h4 {
  font-size: 18px;
  color: #43525d;
}
main .new_arrivals .new_arrivals__carusel_items .product_preview_item .price_item {
  color: #ff7013;
}
main .new_arrivals .new_arrivals__footer_items {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_1 {
  background-color: white;
  display: flex;
  flex-grow: 3;
  margin-right: 50px;
  justify-content: space-around;
  align-items: center;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_1 .block_info h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: #43525d;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_1 .block_price {
  display: flex;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_1 .block_price i {
  margin-right: 25px;
  align-self: center;
  color: #43525d;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_1 .block_price p {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 0;
  color: #ff7013;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_1 .block_price p span {
  font-size: 24px;
  color: #ff7013;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_2 {
  background-color: white;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_2 h4 {
  font-size: 28px;
}
main .new_arrivals .new_arrivals__footer_items .new_arrivals__footer_items___block_2 p {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 8px;
}
main .new_arrivals .new_arrivals__header {
  width: 100%;
  height: 75px;
  border: 1px solid black;
}
main .best_sales {
  height: 675px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 12%;
}
main .best_sales .best_sales__items {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
}
main .best_sales .best_sales__items .best_sales__item {
  background-color: white;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .best_sales .best_sales__items .best_sales__item .best_sales__item_info h4 {
  color: #43525d;
}
main .best_sales .best_sales__items .best_sales__item .stars_and_price {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
main .best_sales .best_sales__items .best_sales__item .stars_and_price .stars .fa-star {
  color: #dfdfdf;
  cursor: pointer;
}
main .best_sales .best_sales__items .best_sales__item .stars_and_price .stars .like-star {
  color: #ff7013;
}
main .best_sales .best_sales__items .best_sales__item .stars_and_price .price {
  color: #ff7013;
  font-weight: bold;
}
main .best_sales .best_sales__footer {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
main .best_sales .best_sales__footer .best_sales__footer__info {
  display: flex;
  justify-content: space-around;
  width: 54%;
  align-items: center;
  padding: 50px;
}
main .best_sales .best_sales__footer .best_sales__footer__info h4 {
  text-transform: uppercase;
  color: #ff7013;
  font-weight: bold;
  margin-bottom: 0;
}
main .best_sales .best_sales__footer .best_sales__footer__info p {
  font-style: italic;
  color: #43525d;
  margin-bottom: 0;
}
main .best_sales .best_sales__footer .best_sales__footer__mailButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
main .best_sales .best_sales__footer .best_sales__footer__mailButton p {
  margin-bottom: 0;
  font-style: italic;
  color: #43525d;
}
main .best_sales .best_sales__footer .best_sales__footer__mailButton button {
  background-color: #ff7013;
  color: white;
  padding: 13px 35px;
  cursor: pointer;
  font-size: 16px;
}
main .best_sales .best_sales__header {
  width: 100%;
  height: 75px;
  border: 1px solid black;
}
